<h1>Editing truck job</h1>

<%= render "form", truck_job: @truck_job %>

<br>

<div>
  <%= link_to "Show this truck job", @truck_job %> |
  <%= link_to "Back to truck jobs", truck_jobs_path %>
</div>
